  

@font-face {
  font-family: "Cairo";
  src: local("Cairo"),
   url("./fonts/Cairo-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
  }
  
:root {
  font-size: 16px;
  /* line-height: 24px; */
  font-weight: 400;
  font-family: 'Cairo', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #c04c4c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
   
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s 0s ease;
  -moz-transition: all 0.1s 0s ease;
  -o-transition: all 0.1s 0s ease;
  transition: all 0.1s 0s ease;
  overflow: hidden;
 
}
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #9c27b0;
  }


 
body {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  color: #ffffff;
  position: relative;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  display: flex;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  
  border-radius: 8px;
  padding: .2em;
}
h1{
  font-size: clamp(2rem, 1rem + 10vw,3rem);
}

p{
  font-size: clamp(.8rem, 1rem + 10vw,1.1rem);
}

  

   